black
pygments>=2.7.4
markdown>=3.3
matplotlib
jinja2
requests
mdx_truly_sane_lists
PyYAML
pandas
jupyter
pydot
boto3
tensorflow
torch
keras-tuner
keras-cv
tf_keras
keras-nlp
opencv-python
scipy
jax[cpu]
visualkeras
scikit-learn
seaborn
vit-pytorch
tqdm
torchvision